{% extends "django_registration/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="login-page">
    <div class="container">
      <div class="row">
        <!-- Empty div -->
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          {% if form.errors %}
            <p> Password or Username is incorrect </p>
          {% endif %}
          <div class="logo">
              <div class="card">

                <div class="card-heading">
                  <p style="text-align: center"><i class='lni lni-anchor'></i></p>
                  <h3 class="text-center">Project Review</h3>
                </div>
                <div class="card-body">

                  <form  action="/accounts/login/" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-sm" value="Log In" style="width: 100%">
                    </div>

                    <input type="hidden" name="next" value="{{next}}">

                  </form>
                    <hr style="background-color: gray">
                    <p style="text-align: center">Don't have an account? <a href="/accounts/register"><b style="color: purple">Sign up.</b></a></p>

                </div>

              </div>
          </div>

        </div>
        <!-- empty div -->
        <div class="col-md-4">

        </div>
      </div>
    </div>
</div>

{% endblock %}
