{%extends "django_registration/base.html"%}
{% load bootstrap3 %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>Successfully signed up</h2>
                    <h2>Welcome to Project review app, where you can share your projects with millions of others.</h2>
                    <p>Please click the link below to login</p>
                    <a href="{% url 'login' %}"><button class="btn bg-primary">Log In</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}