{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-4">
                <div class="profile">
                    <img src="{{user_profile.profile_pic.url}}" alt="loading...">
                    <p><b style="font-size: 6vh;">{{user_profile.user.username}}</b></p>
                </div>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5">
                <div class="info">
                    <p><b style="font-size: 3vh;">Bio</b></p>
                    <ul>
                        <li class="list-group-item">{{user_profile.bio}}</li>
                    </ul>
                    <p style="margin-top: 40px; font-size: 3vh;"><b>Contact info</b></p>
                    <p>Tel no: {{user_profile.phone_no}}</p>
                    <p style="margin-top: 40px;"><a href="#"><button class="btn bg-primary">Edit profile</button></a> &nbsp;
                    <a href="#"><button class="btn bg-primary">Add project</button></a></p>
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="projects">
                {% if user_projects %}
                    {% for project in user_projects %}
                        <div class="col-md-4" id="project-specs">
                            <img id="project-image" src="{{project.image.url}}" alt="loading...">
                            <p><b>{{project.title}}</b></p>
                            <p><b>Live link:</b> &nbsp; {{project.live_link}}</p>
                            <p>Posted {{project.posted_on|timesince}} ago</p>
                            <hr>
                            {% if project.user_profile.profile_pic.url %}
                                <img id="user-profile-pic" src="{{project.user_profile.profile_pic.url}}" alt="loading..."> &nbsp;
                            {% else %}
                                <span id="icon"><i class='lni lni-emoji-smile'></i></span>
                            {% endif %}
                            <b>By {{project.user_project.username}}</b>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No projects available yet</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}